<a href="https://colab.research.google.com/github/pramodpm2/Python-Workshop/blob/master/Day_2_sesson_1_Exercise_programs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 print multiples of 3 upto 200 using a list

In [ ]:
list= [ x for x in range(200) if x % 3 == 0]
print(list)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156, 159, 162, 165, 168, 171, 174, 177, 180, 183, 186, 189, 192, 195, 198]

# print the nos only divisable by 5 and 7 between 1000 and 2000 using a list( both inclusive)

In [ ]:
 
List=[x for x in range (1000,2000) if((x % 7 ==0)and (x % 5) == 0)]
print(List)

[1015, 1050, 1085, 1120, 1155, 1190, 1225, 1260, 1295, 1330, 1365, 1400, 1435, 1470, 1505, 1540, 1575, 1610, 1645, 1680, 1715, 1750, 1785, 1820, 1855, 1890, 1925, 1960, 1995]

**bold text** Add the n number of names in a list and print them alphabetically and reverse alphabetically

In [ ]:
 
n=['yuaraj','ponic','pooja', 'prajwal', 'pramod', 'pratusha','priya','harin', 'spoorthi']
n.sort()
print('Names In A List In Alphabetical Order: ',n)
n.sort(reverse=True)
print('Names In A List In Reverse Alphabetical Order: ',n)

Names In A List In Alphabetical Order:  ['harin', 'ponic', 'pooja', 'prajwal', 'pramod', 'pratusha', 'priya', 'spoorthi', 'yuaraj']
Names In A List In Reverse Alphabetical Order:  ['yuaraj', 'spoorthi', 'priya', 'pratusha', 'pramod', 'prajwal', 'pooja', 'ponic', 'harin']

# Print  perfect squares and divisible by 5 between 500 and 1000( (both inclusive) using list

In [ ]:
 
import math
List=[]
for x in range(500,1000):
    root=math.sqrt(x)
    if int(root+0.5)**2==x:
        if x%5==0:
            List.append(x)
print(List)

[625, 900]

In [ ]:
 Calculate the Average of  the numbers in a List by getting the elements of list from keyboard .

In [ ]:
 
import numpy as np
List=[]
n=int(input('Enter The Number Of Elements: ')) 
 
print('Enter The Elements: ')
for i in range(n):
    List.append(int(input()))
print('Average Of The Numbers Is: ',np.mean(List))

Enter The Number Of Elements: 5
Enter The Elements:
50
24
99
80
90
Average Of The Numbers Is:  68.6

 Print lists of odd,even and multiples of 5 numbers from 1 to 1000 using list comprehension

In [ ]:
 
List=[x for x in range(1,1000) if ((x%2==0 or x%2!=0) and (x%5==0))]
print(List)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100, 105, 110, 115, 120, 125, 130, 135, 140, 145, 150, 155, 160, 165, 170, 175, 180, 185, 190, 195, 200, 205, 210, 215, 220, 225, 230, 235, 240, 245, 250, 255, 260, 265, 270, 275, 280, 285, 290, 295, 300, 305, 310, 315, 320, 325, 330, 335, 340, 345, 350, 355, 360, 365, 370, 375, 380, 385, 390, 395, 400, 405, 410, 415, 420, 425, 430, 435, 440, 445, 450, 455, 460, 465, 470, 475, 480, 485, 490, 495, 500, 505, 510, 515, 520, 525, 530, 535, 540, 545, 550, 555, 560, 565, 570, 575, 580, 585, 590, 595, 600, 605, 610, 615, 620, 625, 630, 635, 640, 645, 650, 655, 660, 665, 670, 675, 680, 685, 690, 695, 700, 705, 710, 715, 720, 725, 730, 735, 740, 745, 750, 755, 760, 765, 770, 775, 780, 785, 790, 795, 800, 805, 810, 815, 820, 825, 830, 835, 840, 845, 850, 855, 860, 865, 870, 875, 880, 885, 890, 895, 900, 905, 910, 915, 920, 925, 930, 935, 940, 945, 950, 955, 960, 965, 970, 975, 980, 985, 990, 995]

 1. Python Program to Create a List of Tuples with the First Element as the Number and Second Element as the Square of the Number

In [ ]:
 
List=[(x,x**2) for x in range(int(input('Enter Lower Rnaage: ')),int(input('Enter Upper Range: ')))]
print(List)

Enter Lower Rnaage: 1
Enter Upper Range: 10
[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81)]

  Write python program to have a list of words  to sort them from  shortest to longest using list of tuples

In [ ]:
 
txt = 'but soft what light in yonder window breaks'
words = txt.split()
t = []
for word in words:
   t.append((len(word), word))
t.sort(reverse=False)
 
res = []
for length, word in t:
    res.append(word)
 
print(res)

['in', 'but', 'soft', 'what', 'light', 'breaks', 'window', 'yonder']

 .Write python program to get a list of tuples of Rollno,Name for 5 students through keyboard and sort them Rollno wise ascending order

In [ ]:
 
List=[]
for i in range(0,5):
    usn=input('Enter RollNumber: ')
    name=input('Enter Student Name: ')
    List.append((name,usn))
 
print(sorted(List, key = lambda x: x[1]))

Enter RollNumber: 4al18cs058
Enter Student Name: Pramod
Enter RollNumber: 4al18cs088
Enter Student Name: Spoorthi
Enter RollNumber: 4al18cs055
Enter Student Name: Yuvaraj
Enter RollNumber: 4al18cs060
Enter Student Name: Prashant
Enter RollNumber: 4al18cs090
Enter Student Name: Kiran
[('Yuvaraj', '4al18cs055'), ('Pramod', '4al18cs058'), ('Prashant', '4al18cs060'), ('Spoorthi', '4al18cs088'), ('Kiran', '4al18cs090')]

Write python program to get a list of tuples of Rollno,Name for 5 students through keyboard and sort them by Name wise ascending order

In [ ]:
 
List=[]
for i in range(0,5):
    usn=input('Enter RollNumber: ')
    name=input('Enter Student Name: ')
    List.append((usn,name))
 
print(sorted(List, key= lambda x: x[1]))

Enter RollNumber: 4al18cs058
Enter Student Name: pramod
Enter RollNumber: 4al18cs088
Enter Student Name: Spoorthi
Enter RollNumber: 4al18cs001
Enter Student Name: Abhi
Enter RollNumber: 4al18cs055
Enter Student Name: Yuvaraj
Enter RollNumber: 4al18cs033
Enter Student Name: Karthik
[('4al18cs001', 'Abhi'), ('4al18cs033', 'Karthik'), ('4al18cs088', 'Spoorthi'), ('4al18cs055', 'Yuvaraj'), ('4al18cs058', 'pramod')]