<a href="https://colab.research.google.com/github/pramodpm2/Python-Workshop/blob/master/Day_2_session_2_sample.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


**Dictionary Worked out Examples**

**Python Program to Generate a Dictionary that Contains Numbers (between 1 and n) in the Form (x,x*x).**

In [ ]:
n=int(input("Enter a number:"))
d={x:x*x for x in range(1,n+1)}
print(d)

Enter a number:5
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

**Python Program to Sum All the Items in a Dictionary**

In [ ]:
d={'A':100,'B':540,'C':239}
print("Total sum of values in the dictionary:")
print(sum(d.values()))

Total sum of values in the dictionary:
879

**Python Program to Remove the Given Key from a Dictionary**

In [ ]:
d = {'a':1,'b':2,'c':3,'d':4}
print("Initial dictionary")
print(d)
key=input("Enter the key to delete(a-d):")
if key in d: 
    del d[key]
else:
    print("Key not found!")
    exit(0)
print("Updated dictionary")
print(d)

Initial dictionary
{'a': 1, 'b': 2, 'c': 3, 'd': 4}
Enter the key to delete(a-d):d
Updated dictionary
{'a': 1, 'b': 2, 'c': 3}

**Python Program to add name and mark as key->value pair in  a Dictionary and print it**

In [ ]:
n=int(input("Enter no of records"))
d={}
for i in range(1,n+1):
    name= input("Enter name %d"%(i))
    mark=int(input("Enter mark %d"%(i)))
    d[name]=mark
    print (d)

Enter no of records2
Enter name 1John
Enter mark 11234
{'John': 1234}
Enter name 2Pramod
Enter mark 23536
{'John': 1234, 'Pramod': 3536}

**Keys and Values example**

In [ ]:
# Keys and Values example
d={}
print (" The dictionary elements are")
for i in range(1,21):
    d[i]=i**2
print (d)
# To print key and values
print (" Key==> Value are")
for (k,v) in d.items(): 
    print(k,"==>",v)
# To print key only
print ("\nTo print key only")
for k in d.keys():  
     print(k, end=" ")
#To print value only
print ("\nTo print values only")
for v in d.values():    
    print(v, end=" ")

 The dictionary elements are
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400}
 Key==> Value are
1 ==> 1
2 ==> 4
3 ==> 9
4 ==> 16
5 ==> 25
6 ==> 36
7 ==> 49
8 ==> 64
9 ==> 81
10 ==> 100
11 ==> 121
12 ==> 144
13 ==> 169
14 ==> 196
15 ==> 225
16 ==> 256
17 ==> 289
18 ==> 324
19 ==> 361
20 ==> 400

To print key only
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20
To print values only
1 4 9 16 25 36 49 64 81 100 121 144 169 196 225 256 289 324 361 400

**Python program to convert 2 digit number  into words**

In [ ]:
d={0:'',1:'one',2:'two',3:'three',4:'four',5:'five',6:'six',7:'seven',8:'eight',9:'nine',\
   10:'ten',11:'eleven',12:'twelve',13:'thirteen',14:'fourteen',15:'fifteen',16:'sixteen',\
   17:'seventeen',18:'eightteen',19:'nineteen',20:'twenty',30:'thirty',40:'fourty',50:'fifty',\
   60:'sixty',70:'seventy',80:'eighty',90:'ninty'}
 
num=int(input("Enter the integer between 1 to 99:"))
if (num<=20):
      print(d[num])
if(num>20 and num<100):
        if num%10==0:       
            print(d[num])
        else:
            print(d[num//10*10]+" "+d[num%10])

Enter the integer between 1 to 99:99
ninty nine

**How to sort a dictionary by values in Python**

In [ ]:
d = {"Pierre": 42, "Anne": 33, "Zoe": 24}
#Use the sorted function and operator module
import operator
sorted_d = sorted(d.items(), key=operator.itemgetter(1))
print(sorted_d)
sorted_a= sorted(d.items(), key=operator.itemgetter(1),reverse=True)
print(sorted_a)

[('Zoe', 24), ('Anne', 33), ('Pierre', 42)]
[('Pierre', 42), ('Anne', 33), ('Zoe', 24)]

**Files Examples**

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive',force_remount=True)

Mounted at /content/gdrive

**Python Program to count the number of lines in a text file.**

In [57]:
# Python Program to count the number of lines in a text file. 
from google.colab import drive
drive.mount('/gdrive',force_remount=True)
#Python Program to count the number of lines in a text file. 
file='/gdrive/My Drive/first.txt'
num_lines = 0
with open(file, 'r') as f:
 for line in f:
   num_lines += 1
   print("Number of lines:")
   print(num_lines)

Mounted at /gdrive

**Python Program to count the number of words in a text file.**

In [58]:
#Python Program to count the number of lines in a text file. 
file='/gdrive/My Drive/first.txt'
num_words = 0
with open(file, 'r') as f:
 for line in f:
   words = line.split()
   print(words)
   num_words += len(words)
   print("Number of words:")
   print(num_words)

**Python Program to count the occurrences of a word in a text file.**

In [64]:
fname = '/gdrive/My Drive/first.txt'
word=input("Enter word to be searched:")
k = 0
 
with open(fname, 'r') as f:
 for line in f:
  words = line.split()
 for i in words:
  if(i==words):
   k=k+1
  print("Occurrences of the word:")
  print(k)

Enter word to be searched:sjsjdb

NameError: ignored

**Python Program to copy the contents of one file into another.**

In [62]:
file1 = '/gdrive/My Drive/first.txt'
file2 = '/gdrive/My Drive/second.txt'
 
with open(file1,'r') as f:
 with open(file2, "w") as f1:
  for line in f:
   f1.write(line)

**Python Program to read the contents of the file in reverse order.**

In [63]:
file = '/gdrive/My Drive/first.txt'
with open (file,'r') as f:
 for line in f:
  l=line.split()
  l.reverse() 
  st= " ".join(l)
  print (st)